.section {
  text-align: center;
  position: relative;
  height: 100%;

}

.section h2 {
  display: block;
  margin: 10% 0%;
  color: #ff3100;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {

  padding: 10px 20px;
  background-color: #f4f5fb;
  border-radius: 5px;
}
.last-added{
  margin-bottom: 5%;
}

.card-link{
  color:#212529;
}
.card-link+.card-link{
  margin-left: 0px;
}
.card-link:hover{
  color:#ff3100;
}
.list-card {
  display: inline-block;
  margin-bottom: 15px;
}
.get-dots {
  width: 300px;
  text-overflow:ellipsis;
 overflow:hidden;

 display: -webkit-box !important;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 white-space: normal;
}

.get-dots-4 {

  text-overflow:ellipsis;
 overflow:hidden;

 display: -webkit-box !important;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 white-space: normal;
}

.img-container{
  height: 250px;
}

.img-container img{
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 100%;


}

.frontsearch-wrap {
  -webkit-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  overflow: hidden;
  margin: 0;
  margin-bottom: 5%;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  box-shadow: inset 0 -4px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(192, 196, 215, 0.25);
  background: #fff;
  padding: 46px 29px 41px;
}

.frontsearch-cont {
  -webkit-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: relative;
  padding: 60px 0;
  margin: 0 17%;

}

.frontsearch-img {
  -webkit-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  margin: 40px 0 40px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.frontsearch-res a{
  color: #a0a6c5;
  text-decoration: none;
}

.frontsearch-res a span{
  color:white;
  background: #a0a6c5;
  border-radius: 10px;
  padding: 0px 10px;

}

.frontsearch-res:hover .frontsearch-res a{
  background: red;
}

.frontsearch-res1 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 8%;
  left: 34%;
}

.frontsearch-res2 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 8%;
  left: -1%;
}

.frontsearch-res3 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 8%;
  left: 82%;
}

.frontsearch-res4 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 34%;
  left: -22%;
}

.frontsearch-res5 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 34%;
  left: 99%;
}

.frontsearch-res6 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 59%;
  left: -22%;
}

.frontsearch-res7 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 59%;
  left: 105%;
}

.frontsearch-res8 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 87%;
  left: -1%;
}

.frontsearch-res9 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 87%;
  left: 40%;
}

.frontsearch-res10 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  position: absolute;
  display: block;
  z-index: 4;
  white-space: nowrap;
  transition: all 0.2s;
  top: 87%;
  left: 88%;
}

.frontsearch-point1 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 39%;
  left: 58%;
}

.frontsearch-point2 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 42%;
  left: 27%;
}

.frontsearch-point3 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 28%;
  left: 63%;
}

.frontsearch-point4 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 55%;
  left: 14%;
}

.frontsearch-point5 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 41%;
  left: 75%;
}

.frontsearch-point6 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 67%;
  left: 13%;
}

.frontsearch-point7 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 69%;
  left: 81%;
}

.frontsearch-point8 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 60%;
  left: 41%;
}

.frontsearch-point9 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 63%;
  left: 45%;
}

.frontsearch-point10 {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.42857143;
  z-index: 4;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: red;
  position: absolute;
  display: block;
  transition: all 0.2s;
  top: 70%;
  left: 77%;
}

.card-deck{
  margin-bottom: 15px;
}

.card-type{
  font-weight: bold;
  color: #d4d6d5;
}
.card-price{
  font-weight: bold;
  color: #ff3100;
}

.card{
  margin: 10px 10px;
}

.special{
  -webkit-text-size-adjust: 100%;
color: inherit;
border: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
margin: 25px 25px 20px 0;
height: 234px;
line-height: 234px;
position: relative;
display: block;
padding: 0;
text-align: center;
}

.second-row{
  height: 300px;
}

footer{
margin: 5% 9% 0% 9%;
}
footer .nav-link{
  color: #5a79b0!important;
}

footer p{
  color: #5a79b0;

}
footer h5{
  color: #ff3100;
}
footer button{
  background-color: #ff3100!important;
  border-color: #18202E!important;
}
.bi{
  margin: 0% 5px;
}
.link-dark{

      color: #ff3100!important;
}



/*Article details --------------------------------------------------*/
/* Basic Styling */


.container-article {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {

  object-fit: none;
  object-position:center;
  max-width:100%;
  height: 100%;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
/*Article details end -------------------------------------------------*/
.card-border{
  min-height: 400px;
}
