


<div id="page-wrapper">
<link rel="stylesheet" href="css/articleList.css">

<div class="container-article-list">
  <div class="card-deck" id="list-all-articles">


  <div class="card  card-border">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div><div class="card d card-border">

    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){articleIndex.getAllItems()})
</script>
