<div id="page-wrapper">


  <div class="section">
    <video muted playsinline id="myVideo" src="https://player.vimeo.com/external/640488266.hd.mp4?s=ac9f1494583cb7157f2e677ba1c7c54605681a07&profile_id=175" autoplay loop
      poster="https://images.prismic.io/zero-cms-disco/8250be8a-558f-4aa7-a3f5-6a9a99a88cad_srs-fallback.jpg?auto=compress,format">
    </video>
    <h2><b>Welcome to our world, Motorcycle world</b></h2>
  </div>
  <div class="container">
<h2><b> LAST ADDED</b></h2>
    <div class="last-added">




    </div>
    <h2><b> SEARCH</b></h2>
    <div class="frontsearch-wrap">

      <div class="frontsearch-cont" id="frontsearch-cont" data-lines-count="20">
        <p class="frontsearch-img">
          <img src="img/motor.png" alt="">
        </p>


        <div class="frontsearch-res frontsearch-res1"><a href="catalog.html"><span>260</span> Hand Controls</a></div>
        <div class="line" style="position: absolute; transform: rotate(44.4307deg); top: 56.2453px; left: 225.167px; width: 256.501px;"></div>
        <div class="frontsearch-point frontsearch-point1"></div>

        <div class="frontsearch-res frontsearch-res2"><a href="catalog.html"><span>14</span> Seats</a></div>
        <div class="line" style="position: absolute; transform: rotate(44.4383deg); top: 56.2453px; left: 15px; width: 281.744px;"></div>
        <div class="frontsearch-point frontsearch-point2"></div>

        <div class="frontsearch-res frontsearch-res3"><a href="catalog.html"><span>2</span> Windshields</a></div>
        <div class="line" style="position: absolute; transform: rotate(121.052deg); top: 55.5312px; left: 513.406px; width: 133.848px;"></div>
        <div class="frontsearch-point frontsearch-point3"></div>

        <div class="frontsearch-res frontsearch-res4"><a href="catalog.html">Exhausts <span>103</span></a></div>
        <div class="line" style="position: absolute; transform: rotate(26.0307deg); top: 209.826px; left: -132.792px; width: 274.746px;"></div>
        <div class="frontsearch-point frontsearch-point4"></div>

        <div class="frontsearch-res frontsearch-res5"><a href="catalog.html"><span>267</span> Lightings</a></div>
        <div class="line" style="position: absolute; transform: rotate(169.901deg); top: 208.927px; left: 735.594px; width: 216.522px;"></div>
        <div class="frontsearch-point frontsearch-point5"></div>

        <div class="frontsearch-res frontsearch-res6"><a href="catalog.html">Brake Shoes <span>6</span></a></div>
        <div class="line" style="position: absolute; transform: rotate(11.2797deg); top: 357.408px; left: -111.844px; width: 224.259px;"></div>
        <div class="frontsearch-point frontsearch-point6"></div>

        <div class="frontsearch-res frontsearch-res7"><a href="catalog.html"><span>34</span> Wheels</a></div>
        <div class="line" style="position: absolute; transform: rotate(162.554deg); top: 356.427px; left: 741.594px; width: 185.677px;"></div>
        <div class="frontsearch-point frontsearch-point7"></div>

        <div class="frontsearch-res frontsearch-res8"><a href="catalog.html"><span>874</span> Engines</a></div>
        <div class="line" style="position: absolute; transform: rotate(-29.1776deg); top: 522.498px; left: 15.4875px; width: 333.577px;"></div>
        <div class="frontsearch-point frontsearch-point8"></div>

        <div class="frontsearch-res frontsearch-res9"><a href="catalog.html"><span>54</span> Filtres</a></div>
        <div class="line" style="position: absolute; transform: rotate(-81.7431deg); top: 521.769px; left: 262.188px; width: 146.445px;"></div>
        <div class="frontsearch-point frontsearch-point9"></div>

        <div class="frontsearch-res frontsearch-res10"><a href="catalog.html"><span>15</span> Tires</a></div>
        <div class="line" style="position: absolute; transform: rotate(-116.218deg); top: 521.625px; left: 550.335px; width: 115.509px;"></div>
        <div class="frontsearch-point frontsearch-point10"></div>

      </div>
    </div>
    <h2><b>SPECIAL DEALS</b></h2>
    <div class="special-deals">
      <div class="card-deck">
        <div class="row">
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img2.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img3.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img4.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card col">
          <div class="special">
            <img class="card-img-top" src="img/img5.jpg" alt="Card image cap">
          </div>

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
       </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top second-row" src="img/img6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top second-row" src="img/img7.jpg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top second-row" src="img/img8.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<script type="text/javascript">articleIndex.init();</script>
